@charset "UTF-8";
@font-face {
		    font-family: 'SUIT-Regular';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
		    font-weight: normal;
		    font-style: normal;
		}
h1 a , div.container,h3 ,th {
			font-family: 'SUIT-Regular';
}
h3, p {
	text-align: center;
}
div.gallery {
	float: left;
	margin: 10px;
	width: 180px;
	height: 350px;
}

.gallery > div {
	padding : 4px;
}

.gallery > div:hover {
	/*  	object-fit: cover;  */
	padding: 2px;
}

.gallery img {
	width : 100%;
	height : 80%;
}

p {
	text-align: center;
}
